<h2 mat-dialog-title>Create Campaign</h2>
<mat-dialog-content>
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [(ngModel)]="description"></textarea>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button (click)="dialogRef.close()">Cancel</button>
      <button mat-raised-button color="primary" (click)="submit()">Create</button>
    </mat-dialog-actions>
</mat-dialog-content>
