<div class="header">
    <div>
        <h1 class="header-title" routerLink="/">RPG Manager</h1>
    </div>
    
    <div>
        @if (isLoggedIn$ | async) {
            <a class="header-link" routerLink="/dashboard">
                Dashboard
            </a>
        }

        @if (!(isLoggedIn$ | async)) {
            <a class="header-link" routerLink="/auth/login">Login</a>
            <a class="header-link" routerLink="/auth/register">Register</a>
        }

        @if (user$ | async; as user) {
            <button matButton class="header-link" [matMenuTriggerFor]="menu">
                {{ user.displayName }}
                <mat-icon aria-hidden="false" aria-label="Menu Dropdown">arrow_drop_down</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <a mat-menu-item>Profile</a>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        }
    </div>
</div>


