.dashboard-body {
    padding: 24px;
}

.section {
  margin-bottom: 24px;
}

.card-content {
    padding: 12px;
}

.actions {
  margin-top: 16px;
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}